*.pyc
__pycache__
myvenv
bignumvenv
explain
tweetcards
db.sqlite3
/static
.DS_Store
/*.PNG
appendix
/blog/data2/factbook/factbook/css
/blog/data2/factbook/factbook/docs
fields
geos
graphics
images
country
rankorder
Django-1.8.dist-info
*.xlsx
