*.pyc
__pycache__
myvenv
db.sqlite3
/static
.DS_Store
/*.PNG
/blog/migrations
appendix
/blog/data2/factbook/factbook/css
/blog/data2/factbook/factbook/docs
fields
geos
graphics
images
country
rankorder
