{% load staticfiles %}
<html>
    <head>
        <title>Is That A Big Number? - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<link href="http://fonts.googleapis.com/css?family=Ubuntu&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel='shortcut icon' type='image/x-icon' href="{% static './favicon.ico' %}"/>
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@itabn_andrew" />
	<meta name="twitter:title" content="Is That A Big Number?" />
	<meta name="twitter:description" content="Put Big Numbers in context. Develop a Number Sense. Numbers-led Blog." />
	<meta name="twitter:image" content="http://www.isthatabignumber.com/static/itabn-twit.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-4708013234470270",
	    enable_page_level_ads: true
	  });
	</script>
	<script id="echoCentralScript" type="text/javascript" data-ec-accountid="2c864536-103f-430a-8648-4d05e39e1973">
	  var ECHOREFLECTPRELOAD={errors:[]};
	  (function(w,d,c,t,v){
	    if(c&&c.error){
	      var oce=c.error;
	      c.error=function(){
	        v.errors.push({u:"console",e:arguments})
	        oce.apply(c,arguments);}}
	    w.onerror=function(m,u,l,co,e){
	      v.errors.push({m:m,u:u,l:l,c:co,e:e});
	      return false;}
	    var ec=d.createElement(t);
	    ec.type='text/javascript';ec.async=true;ec.defer=true;ec.id='ecLWC';
	    ec.src=('https:'==d.location.protocol?'https://':'http://')+'script.echo-central.com/echoREFLECT.js';
	    var s=d.getElementsByTagName(t)[0];
	    setTimeout(function(){s.parentNode.insertBefore(ec,s)},100);
	  }(window,document,console,'script',ECHOREFLECTPRELOAD));
	</script>
  
    </head>
	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

	    <div class="page-header">
	        <span><h1 style="display: inline"><a href="/"><img src="{% static 'itabn_logo.png' %}"/></a></h1><h4 style="display: inline"><span class="social">Like this? <a href="https://twitter.com/itabn_andrew" class="twitter-follow-button top-menu" data-show-count="false" data-show-screen-name="false">Follow @itabn_andrew</a>
		</span></h4>
<span>
	        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

	        	<!--span class="social">
				<a href="https://twitter.com/itabn_andrew" class="twitter-follow-button top-menu" data-show-count="false" data-show-screen-name="false">Follow @itabn_andrew</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>		
				<a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="... #IsThatABigNumber?" data-via="itabn_andrew" data-hashtags="NumbersCount">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	    			<span class="fb-like" data-href="https://www.facebook.com/Is-that-a-big-number-1511565142478387/" data-width="200" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></span>
	    		</span-->
	    	</h1>
		<!--h4><a href="/">{% block quote %}{% endblock %}</a></h4-->
		<h4>
		        	<span id="refresh-quote" title="refresh" class="glyphicon glyphicon-refresh"></span>&nbsp;
		        	<span id = "quote">
		        	{% include "blog/quote.html" %}
		        	</span>
		</h4>			        	
	        <div class="widget">
		        <h3><a href ="/home/" title="Take me home">Home</a> - <!--a href ="/itabn/" title="Widgets for every kind of number available">How Big?</a> - <a href ="/convert/" title="Convert between different units">Conversions</a> - --><a href ="/facts/" title="Explore our treasury of numbers">Facts</a> - <a href ="/quiz/" title="Test your number sense">Quiz</a> - <a href ="/ratio/" title="See examples of numbers with a given ratio">Ratios</a> - <a href ="/country/" title="Explore numbers for particular countries">Countries</a></h3>
    		</div>
		<div class="row">
                    <div class="widget col-lg-5 col-md-5 col-sm-12 col-xs-12">
		        <h5><a href ="/nitn/" title="Notable numbers we have spotted recently">News</a> - <a href ="/ftlon/" title="Number-led writings for the truly geeky">Love of Numbers</a> - <a href ="/ggb/" title="Stop worrying and learn to love big numbers">Big Numbers</a> - <a href ="/lmk/" title="Prominent and memorable numbers">Landmarks</a></h5>
    			</div>
		        <div  class="dyk col-lg-7 col-md-7 col-sm-12 col-xs-12">
		        	<p class="social">
		        	<span id="refresh" title="refresh" class="glyphicon glyphicon-refresh"></span>&nbsp;
		        	<span id = "dyk">
		        	{% include "blog/dyk.html" %}
		        	</span>
		        	</p>
			       	<!--p class="social"><strong>Did you know: </strong><a href="{{ dyk.fact1_link }}">{{ dyk.fact1 }}</a> <em>{{ dyk.comparison }}</em> <a href="{{ dyk.fact2_link }}">{{ dyk.fact2 }}</a><a href="">&nbsp;<span id="refresh" title="refresh" class="glyphicon glyphicon-refresh"></span>&nbsp;</a>
				<a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="{{ dyk.fact1 }} {{ dyk.comparison }} {{ dyk.fact2 }} #IsThatABigNumber? #RandomComparison">Tweet this comparison</a></p-->
	    		</div>
	    	    </div>	
		</div>
	    </div>
	    <section class="content container_fluid">
		        <div class="row">
		            <div class="col-md-9">
			            {% block content %}
			            {% endblock %}
		            </div>
		            <div>
			        <div id="ads" class="col-md-3">
				    	<div>
				    		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- ITABN Sidebar -->
						<ins class="adsbygoogle"
						     style="display:block"
						     data-ad-client="ca-pub-4708013234470270"
						     data-ad-slot="7627052948"
						     data-ad-format="auto"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
				    	</div>
				    	{% if promote == "sponsor" %}
				    	<div class="message">
				    	<h3>We're looking for sponsors</h3>
				    	<a href ="../sponsor" target="_blank">Help us promote numeracy in engaging new ways</a>
				    	</div>
				    	{% else %}
				    	<div class="message">
				    	<h3>Click on the ad above to help us!</h3>
				    	<p>If you appreciate this site, do us a favour and click on the ad above. We'll earn a penny or two and that will help us keep going.</p>
				    	<p>You'll know that you have done a good thing for numeracy and rationality in the world!</p>
				    	</div>
				    	{% endif %}
					<div class="tumblr-post" data-href="https://embed.tumblr.com/embed/post/cpETHSzuKqn7I7CzxFgXRA/138631317782" data-did="84bc0fdf6dfb9a30c7f7a364018ec26086f1e047"><a href="http://itabn.tumblr.com/post/138631317782/this-website">http://itabn.tumblr.com/post/138631317782/this-website</a>
				    	</div>
				    	<script async src="https://secure.assets.tumblr.com/post.js"></script>
			    	</div>
			    </div>
		        </div>
	    </section>    
	    <script>
		$("#refresh").click( function()
           	{
           		event.preventDefault();
 			$.ajax({
			        url: '/ajax/comparison/',
			        data: {},
			        dataType: 'json',
			        success: function (data) {
		 			$("#dyk").html(data.dyk);
		 			twttr.widgets.load(document.getElementById("dyk"));
			        }
			      });             		
 			return false;
           	}
        );	    
		$("#refresh-quote").click( function()
           	{
           		event.preventDefault();
 			$.ajax({
			        url: '/ajax/quote/',
			        data: {},
			        dataType: 'json',
			        success: function (data) {
		 			$("#quote").html(data.quote);
		 			twttr.widgets.load(document.getElementById("quote"));
			        }
			      });             		
 			return false;
           	}
        );	    
	    </script>
	</body>
</html>