{% load staticfiles %}
<html>
    <head>
        <title>Is That A Big Number?</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<link href="http://fonts.googleapis.com/css?family=Ubuntu&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
	<body>
	    <div class="page-header">
	        <a href="{% url 'post_new' %}" class="top-menu" title="new post"><span class="glyphicon glyphicon-plus"></span></a>
	        <a href="{% url 'fact_new' %}" class="top-menu" title="new fact"><span class="glyphicon glyphicon-star"></span></a>
	        <h1><a href="/">Is That A Big Number?</a></h1>
	        <h3><a href ="/itabn/">How Big?</a> - <a href ="/posts/">Number Posts</a> - <a href ="/facts/">Number Facts</a></h3>
	    </div>
	    <section>
		    <div class="content container">
		        <div class="row">
		            <div class="col-md-8">
		            {% block content %}
		            {% endblock %}
		            </div>
		        </div>
		    </div>
	    </section>    
	    <aside>
	    	<h2>Other Sections</h2>
	    	<article><h3>Is that a big number?</h3><p>Compare your number to ...</p></article>
	    	<article><h3>Numbers in the News</h3><p>Mountain or molehill?</p></article>
	    	<article><h3>Landmark Numbers</h3><p>Reference points for comparison</p></article>
	    	<article><h3>Number-led Blog</h3><p>Ooh, how interesting ...</p></article>
	    	<article><h3>Know your Numbers</h3><p>Know your Tera from your Peta?</p></article>
	    </aside>
	</body>
</html>