{% extends 'blog/base.html' %}

{% block title %}{{ blog_title }}{% endblock %}

{% block quote %}
    <p>{{ quote }}</p>
{% endblock %}

{% block content %}
        <div class="row widget">
            <div>
                <h1>{{ blog_title }}</h1>
                <h4>{{ blog_subtitle }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="widget col-lg-6 col-md-8 col-sm-12 col-xs-12 blog-summary">
                <div>
                    <h3><a href="{{ stories.featured.link }}" target="_blank">{{ stories.featured.title }}</a></h3>
                    {% if stories.featured.img_url %}
                    <img src="{{ stories.featured.img_url }}" />
                    {% endif %}
                    {% for line in stories.featured.synopsis %}
                    <p>{{ line }}</p>
                    {% endfor %}
                    {% for link in stories.featured.links %}
                    <p><a href="{{ link }}" target="_blank">{{ link }}</a></p>
                    {% endfor %}
                </div>
            </div>
            {% for item in stories.other %}
            <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12 blog-summary-shallow">
                <div>
                    <h3><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></h3>
                    {% for line in item.synopsis %}
                    <p>{{ line }}</p>
                    {% endfor %}
                    {% for link in item.links %}
                    <p><a href="{{ link }}" target="_blank">{{ link }}</a></p>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}