{% extends 'blog/watcot_base.html' %}

{% block title %}Chance{% endblock %}

{% block quote %}
    <p>{{ quote }}</p>
{% endblock %}

{% block content %}
        <div class="widget col-lg-6 col-md-6">
            <div>
                <h2>What are the chances of {{ description }}?</h2>
                    <form method="GET" class="query-form" action="/chance/answer">
                        {{ form.as_p }}
                        <button type="submit" class="save btn btn-warning" name="calc_target" value="hits">Show</button>
                        <!--button type="submit" class="save btn btn-warning" name="calc_target" value="items">How Many?</button>
                        <button type="submit" class="save btn btn-warning" name="calc_target" value="repetitions">How Long?</button>
                        <button type="submit" class="save btn btn-warning" name="calc_target" value="probability">What Chance?</button-->
                    </form>
            </div>
        </div>
        <div class="widget col-lg-6 col-md-6">
            <div>
                <h2>The chances are:</h2>
                {% if form.repeat_mode.value == "repeats"%}
                    {% if form.exposed_repetitions.value = "1" %}
                    <p>For {{ form.exposed_items.value }} {{ form.item_text.value }}, each with probability {{ equivalents.supplied }}, on average there will be {{ form.outcome_count.value | floatformat }} {{ form.outcome_text.value }}.</p>
                    <p>On average there will be {{ hits_item | floatformat }} {{ form.outcome_text.value }} for each of the {{ form.item_text.value }}.</p>
                    {% else %}
                    <p>For {{ form.exposed_items.value }} {{ form.item_text.value }}, over {{ form.exposed_repetitions.value }} {{ form.repetition_text.value }}, each with probability {{ equivalents.supplied }}, on average there will be {{ form.outcome_count.value | floatformat }} {{ form.outcome_text.value }}.</p>
                    <p>Over {{ form.exposed_repetitions.value }} {{ form.repetition_text.value }}, on average there will be {{ hits_item | floatformat }} {{ form.outcome_text.value }} for each of the {{ form.item_text.value }}.</p>
                    {% endif %}
                {% else %}
                    <p>For multiple {{ form.repetition_text.value }}, each with probability {{ equivalents.supplied }}, on average there will be {{ form.outcome_count.value | floatformat }}  {{ form.repetition_text.value }} until {{ form.outcome_text.value }}.</p>
                    <p>On average, with up to {{ form.exposed_repetitions.value }} repeated  {{ form.repetition_text.value }}, there will be {{ hits_item | floatformat }} {{ form.item_text.value }} with {{ form.outcome_text.value }}.</p>
                {% endif %}

                <h3>Probability</h3>
                <li>{{equivalents.probability| floatformat:4}}</li>
                <h3>As a percentage</h3>
                <li>{{equivalents.percentage | floatformat:2}}%</li>
                <h3>As a rounded-off proportion</h3>
                <li>{{equivalents.fraction.numerator}} in {{equivalents.fraction.denominator}}</li>
                <p></p>
                <img src="/gridpng/?width={{ fraction.denominator }}&depth=1&hits={{ fraction.numerator }}">
                <h3>As approximate fair betting odds</h3>
                <li>{{equivalents.odds.0}} : {{equivalents.odds.1}}</li>
                <p></p>
                <img src="/gridpng/?width={{ odds_fraction.1 }}&depth=1&hits={{ odds_fraction.0 }}&invert=True">
            </div>
        </div>
        <div class="widget col-lg-12 col-md-12">
            <div>
                <h3>Representative example</h3>
                {% if form.repeat_mode.value == "repeats"%}
                    <li>{{trial.items}} {{ form.item_text.value }} x {{trial.repetitions}} {{ form.repetition_text.value }} = {{ trial.exposure }} chances for {{ form.outcome_text.value }}</li>
                    <li>Observed {{ form.outcome_text.value }}: {{ trial.hits }} = {{ trial.hit_percentage | floatformat:3}}% (expected average: 
                    {{ form.outcome_count.value | floatformat }} = {{ equivalents.percentage | floatformat:3 }}%)</li>
                {% else %}
                    <li>{{trial.items}} {{ form.item_text.value }} x {{trial.repetitions}} {{ form.repetition_text.value }} max </li>
                    <li>Observed {{ form.outcome_text.value }}: {{ trial.hits }} (expected average: 
                    {{ hits_item | floatformat }})</li>
                {% endif %}
                <h4>For {{ form.item_text.value }}</h4>
                <li>Counts for {{ form.item_text.value }}: {{ trial.item_hits}}</li>
                <li>Distribution for {{ form.item_text.value }}: {{ trial.item_hits_distribution}}</li>
                <li>Summary for {{ form.item_text.value }}: {{ trial.item_hits_summary}}</li>
                {% if form.exposed_repetitions.value != "1" %}
                <h4>For {{ form.repetition_text.value }}</h4>
                <li>Counts for {{ form.repetition_text.value }}: {{ trial.repetition_hits}}</li>
                <li>Distribution for {{ form.repetition_text.value }}: {{ trial.repetition_hits_distribution}}</li>
                <li>Summary for {{ form.repetition_text.value }}: {{ trial.repetition_hits_summary}}</li>
                {% endif %}
                <p></p>
                <img src="/gridchancepng/?width={{ trial.items }}&depth={{trial.repetitions}}&probability={{ trial.probability }}&repeat_mode={{ trial.repeat_mode }}&seed={{ trial.seed }}&{{ trial.probability_model }}">
            </div>
        </div>
{% endblock %}