{% extends 'blog/watcot_base.html' %}

{% block title %}Chance{% endblock %}

{% block quote %}
    <p>{{ quote }}</p>
{% endblock %}

{% block content %}
        <div class="widget col-lg-6 col-md-6">
            <script>
            function toggleForms() {
              var btn = document.getElementById("smp_adv")
              var adv_form = document.getElementById("adv_form");
              if (adv_form.style.display === "none") {
                adv_form.style.display = "block";
                btn.innerHTML = "Simple"
              } else {
                adv_form.style.display = "none";
              }
              var smp_form = document.getElementById("smp_form");
              if (smp_form.style.display === "none") {
                smp_form.style.display = "block";
                btn.innerHTML = "Advanced"
              } else {
                smp_form.style.display = "none";
              }
            }
            </script>

            <span><button id=smp_adv onclick="toggleForms()">{% if form_style == 'adv' %}Simple{% else %}Advanced{% endif %}</button></span>
            <div id=adv_form style="display:{% if form_style == 'adv' %}block{% else %}none{% endif %}">
                <h2>What are the chances of {{ description }}?</h2>
                    <form method="GET" class="query-form" action="/chance/answer">
                        {{ adv_form.as_p }}
                        <button type="submit" class="save btn btn-warning" name="calc_target" value="hits">Show</button>
                    </form>
            </div>
            <div id=smp_form style="display:{% if form_style == 'smp'%}block{% else %}none{% endif %}">
                <h2>What are the chances of {{ description }}?</h2>
                    <form method="GET" class="query-form" action="/chance/answer">
                        {{ smp_form.as_p }}
                        <button type="submit" class="save btn btn-warning" name="calc_target" value="hits">Show</button>
                    </form>
            </div>
        </div>
        <div class="widget col-lg-6 col-md-6">
            <div>
                <h2>The chances are:</h2>
                {% if trial.repeat_mode == "repeats"%}
                    {% if trial.repetitions == 1 %}
                    <p>For {{ trial.items }} {{ trial.item_text }}, each with probability {{ equivalents.supplied }}, on average there will be {{ trial.calc_hits | floatformat }} {{ trial.hits_text }}.</p>
                    <p>On average there will be {{ hits_item | floatformat }} {{ trial.hits_text }} for each of the {{ trial.item_text }}.</p>
                    {% else %}
                    <p>For {{ trial.items }} {{ trial.item_text }}, over {{ trial.repetitions }} {{ trial.repetition_text }}, each with probability {{ equivalents.supplied }}, on average there will be {{ trial.calc_hits | floatformat }} {{ trial.hits_text }}.</p>
                    <p>Over {{ trial.repetitions }} {{ trial.repetition_text }}, on average there will be {{ hits_item | floatformat }} {{ form.outcome_text.value }} for each of the {{ trial.item_text }}.</p>
                    {% endif %}
                {% else %}
                    <p>For multiple {{ trial.repetition_text }}, each with probability {{ equivalents.supplied }}, on average there will be {{ trial.hit_wait | floatformat }}  {{ trial.repetition_text }} until {{ trial.hits_text}}.</p>
                    <p>On average, with up to {{ trial.repetitions }} repeated  {{ trial.repetition_text }}, there will be {{ hits_item | floatformat }} {{ trial.item_text}} with {{ trial.hits_text }}.</p>
                {% endif %}

                <h3>Probability</h3>
                <li>{{equivalents.probability| floatformat:4}}</li>
                <h3>As a percentage</h3>
                <li>{{equivalents.percentage | floatformat:2}}%</li>
                <h3>As a rounded-off proportion</h3>
                <li>{{equivalents.fraction.numerator}} in {{equivalents.fraction.denominator}}</li>
                <p></p>
                <img src="/gridpng/?width={{ fraction.denominator }}&palette_name={{ params.palette_name }}&xy=true&hits={{ fraction.numerator }}">
                <h3>As approximate fair betting odds</h3>
                <li>{{equivalents.odds.0}} : {{equivalents.odds.1}}</li>
                <p></p>
                <img src="/gridpng/?width={{ odds_fraction.1 }}&palette_name={{ params.palette_name }}&xy=true&hits={{ odds_fraction.0 }}&invert=True">
            </div>
        </div>
        <div class="widget col-lg-12 col-md-12">
            <div>
                <h3>Representative example</h3>
                {% if trial.repeat_mode == "repeats"%}
                    <li>{{trial.items}} {{ form.item_text.value }} x {{trial.repetitions}} {{ form.repetition_text.value }} = {{ trial.exposure }} chances for {{ form.outcome_text.value }}</li>
                    <li>Observed {{ form.outcome_text.value }}: {{ trial.hits }} = {{ trial.hit_percentage | floatformat:3}}% (expected average: 
                    {{ form.outcome_count.value | floatformat }} = {{ equivalents.percentage | floatformat:3 }}%)</li>
                {% else %}
                    <li>{{trial.items}} {{ form.item_text.value }} x {{trial.repetitions}} {{ form.repetition_text.value }} max </li>
                    <li>Observed {{ form.outcome_text.value }}: {{ trial.hits }} (expected average: 
                    {{ hits_item | floatformat }})</li>
                {% endif %}
                <h4>For {{ trial.item_text }}</h4>
                <li>Counts for {{ trial.item_text }}: {{ trial.item_hits}}</li>
                <li>Distribution for {{ form.item_text.value }}: {{ trial.item_hits_distribution}}</li>
                <li>Summary for {{ form.item_text.value }}: {{ trial.item_hits_summary}}</li>
                {% if form.exposed_repetitions.value != "1" %}
                <h4>For {{ trial.repetition_text }}</h4>
                <li>Counts for {{ trial.repetition_text }}: {{ trial.repetition_hits}}</li>
                <li>Distribution for {{ form.repetition_text.value }}: {{ trial.repetition_hits_distribution}}</li>
                <li>Summary for {{ form.repetition_text.value }}: {{ trial.repetition_hits_summary}}</li>
                {% endif %}
                <p></p>
                <img src="/gridchancepng/?width={{ trial.items }}&depth={{trial.repetitions}}&probability={{ trial.probability }}&repeat_mode={{ trial.repeat_mode }}&palette_name={{ params.palette_name }}&seed={{ trial.seed }}&{{ trial.probability_model }}">
            </div>
        </div>
{% endblock %}