{% extends 'blog/watcot_base.html' %}

{% block title %}Chances{% endblock %}

{% block quote %}
    <p>{{ quote }}</p>
{% endblock %}

{% block content %}
        <form id = "filter" method="GET" class="filter-form" action="/facts/"> 
            {{ form.as_p}}
                    <button id="filterButton" type="submit" class="save btn btn-warning">Filter</button>
        </form>
        {% for fact in facts %}
            <div class="fact">
                <!--div class="date">
                    <p>published: {{ post.published_date }}</p>
                </div-->
                <h3><a href="/chance?fact={{ fact.permlink }}">{{ fact.title }}</a></h3>
                <p>{{ fact.render_folk|linebreaks }}</p>
                <p>{{ fact.text|linebreaks }}</p>
            </div>
        {% endfor %}
{% endblock %}