{% extends 'blog/watcot_base.html' %}

{% block title %}Chance{% endblock %}

{% block quote %}
    <p>{{ quote }}</p>
{% endblock %}

{% block content %}
        <div class="widget col-lg-2 col-md-2">
            <script>
            function toggleDiv(divid) {
              var x = document.getElementById(divid);
              if (x.style.display === "block") {
                x.style.display = "none";
              } else {
                x.style.display = "block";
              }
            }                
            function toggleForms() {
              var btn = document.getElementById("smp_adv")
              var adv_form = document.getElementById("adv_form");
              if (adv_form.style.display === "none") {
                adv_form.style.display = "block";
                btn.innerHTML = "Simple"
              } else {
                adv_form.style.display = "none";
              }
              var smp_form = document.getElementById("smp_form");
              if (smp_form.style.display === "none") {
                smp_form.style.display = "block";
                btn.innerHTML = "Advanced"
              } else {
                smp_form.style.display = "none";
              }
            }
            function openTab(tabName) {
              var i;
              var x = document.getElementsByClassName("tab");
              for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
              }
              document.getElementById(tabName).style.display = "block";  
            }
            function showOutcome(outcomeName) {
              var i;
              var x = document.getElementsByClassName("outcome");
              for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
              }
              document.getElementById(outcomeName).style.display = "block";  
            }
            function redoGrid(gridType){
                event.preventDefault();
                $('#grid_div').empty()
                var img = $('<img id="grid_image_id">');
                switch (gridType){
                    case 0:
                        img.attr('src', '/gridchancepng/?width={{ trial.items }}&depth={{trial.repetitions}}&probability={{ trial.probability }}&repeat_mode={{ trial.repeat_mode }}&palette_name={{ params.palette_name }}&seed={{ trial.seed }}');
                        break;
                    case 1:
                        img.attr('src', '/gridchancepng/?width={{ trial.items }}&depth={{trial.repetitions}}&probability={{ trial.probability }}&repeat_mode={{ trial.repeat_mode }}&palette_name={{ params.palette_name }}&seed={{ trial.seed }}&display=collect_lower');
                        break;
                    case 2:
                        img.attr('src', '/gridchancepng/?width={{ trial.items }}&depth={{trial.repetitions}}&probability={{ trial.probability }}&repeat_mode={{ trial.repeat_mode }}&palette_name={{ params.palette_name }}&seed={{ trial.seed }}&display=sort_lower');
                        break;
                    case 3:
                        img.attr('src', '/gridchancepng/?width={{ trial.items }}&depth={{trial.repetitions}}&probability={{ trial.probability }}&repeat_mode={{ trial.repeat_mode }}&palette_name={{ params.palette_name }}&seed={{ trial.seed }}&display=collect_left');
                        break;
                    case 4:
                        img.attr('src', '/gridchancepng/?width={{ trial.items }}&depth={{trial.repetitions}}&probability={{ trial.probability }}&repeat_mode={{ trial.repeat_mode }}&palette_name={{ params.palette_name }}&seed={{ trial.seed }}&display=sort_left');
                        break;
                    case 5:
                        img.attr('src', '/gridchancepng/?width={{ trial.items }}&depth={{trial.repetitions}}&probability={{ trial.probability }}&repeat_mode={{ trial.repeat_mode }}&palette_name={{ params.palette_name }}&seed={{ trial.seed }}&display=collect_all');
                        break;
                    case 6:
                        img.attr('src', '/gridchancepng/?width={{ trial.items }}&depth={{trial.repetitions}}&probability={{ trial.probability }}&repeat_mode={{ trial.repeat_mode }}&palette_name={{ params.palette_name }}&seed={{ trial.seed }}&display=collect_corner');
                        break;
                }
                img.appendTo('#grid_div');                 
            }
            </script>
            <!--
            function redoGrid(gridType){
                event.preventDefault();
            alert("here")
            $.ajax({
                    url: '/gridchancepng/',
                    type: 'get'
                    data: {
                        'width':'{{ trial.items }}',
                        'depth':'{{ trial.repetitions }}',
                        'probability':'{{ trial.probability }}',
                        'repeat_mode':'{{ trial.repeat_mode }}',
                        'palette_name': 'default',
                        'seed':'123'
                    },
                    dataType: 'html',
                    success: function (data) {
                        $("#quote").html(data.quote);
                        alert("there")
                    }
                  });                   
            return false;
            }
            -->

            <div id=adv_form style="display:{% if form_style == 'adv' %}block{% else %}none{% endif %}">
                <h2>{{ description }}</h2>
                    <form method="GET" class="query-form" action="/chance/answer">
                        {{ adv_form.as_p }}
                        <button type="submit" class="save btn btn-warning" name="calc_target" value="hits">Show</button>
                    </form>
            <span><button id=smp_adv class="save btn btn-warning" onclick="toggleForms()">{% if form_style == 'adv' %}Simple{% else %}Advanced{% endif %}</button></span>
            </div>
            <div id=smp_form style="display:{% if form_style == 'smp'%}block{% else %}none{% endif %}">
                <h2>{{ description }}</h2>
                    <form method="GET" class="query-form" action="/chance/answer">
                        {{ smp_form.as_p }}
                        <button type="submit" class="save btn btn-warning" name="calc_target" value="hits">Show</button>
                    </form>
            <span><button id=smp_adv class="save btn btn-warning" onclick="toggleForms()">{% if form_style == 'adv' %}Simple{% else %}Advanced{% endif %}</button></span>
            </div>
        </div>
        <div class="col-lg-10 col-md-10">
            <!--span>
            {% for summary in summaries %}
                <button type="submit" class="save btn btn-warning" name="calc_target" onclick="openTab('tab{{ forloop.counter }}'); showOutcome('outcome{{ forloop.counter }}')">{{ summary.hits_text }}</button>
            {% endfor %}
            </span-->    
                <div class="container">
                    <div class="row">
                    {% for summary in summaries %}
                    <div class="col-xs-2 text-center"  onclick="openTab('tab{{ forloop.counter }}'); showOutcome('outcome{{ forloop.counter }}')">
                        <img id="grid_legend_id" src="/gridlegendpng/?hit_type={{ forloop.counter }}&palette_name={{ palette_name }}">
                        <button type="submit" class="save btn btn-warning" name="calc_target">{{ summary.hits_text }}</button>
                    </div>
                    {% endfor %}
                    <div class="col-xs-2 text-center">
                        <img id="grid_legend_id" src="/gridlegendpng/?hit_type=0&palette_name={{ palette_name }}">
                        <button type="submit" class="save btn btn-warning" name="calc_target" disabled>other</button>
                    </div>
                    </div>
                </div>

        </div>
        {% for summary in summaries %}
        <div id="tab{{ forloop.counter }}" class="tab" {% if forloop.counter0 > 0 %} style="display:none" {% endif %}>
        <div class="widget col-lg-5 col-md-5">
            <div>
                <h2>The chances of {{ summary.hits_text }} are:</h2>
                    {% if trial.repeat_mode == "repeats"%}
                        {% if trial.repetitions == 1 %}
                        <p>For {{ trial.items }} {{ trial.item_text }}, each with probability {{ summary.equivalents.supplied }}, on average there will be {{ summary.hits | floatformat }} {{ summary.hits_text }}.</p>
                        <p>On average there will be {{ hits_item | floatformat }} {{ trial.hits_text }} for each of the {{ trial.item_text }}.</p>
                        {% else %}
                        <p>For {{ trial.items }} {{ trial.item_text }}, over {{ trial.repetitions }} {{ trial.repetition_text }}, each with probability {{ summary.equivalents.supplied }}, on average there will be {{ summary.hits | floatformat }} {{ summary.hits_text }}.</p>
                        <p>Over {{ trial.repetitions }} {{ trial.repetition_text }}, on average there will be {{ summary.hits_item | floatformat }} {{ summary.hits_text }} for each of the {{ trial.item_text }}.</p>
                        {% endif %}
                    {% else %}
                        <p>For multiple {{ trial.repetition_text }}, each with probability {{ summary.equivalents.supplied }}, on average there will be {{ summary.hit_wait | floatformat }}  {{ trial.repetition_text }} until {{ summary.hits_text}}.</p>
                        <p>On average, with up to {{ trial.repetitions }} repeated  {{ trial.repetition_text }}, there will be {{ summary.hits_item | floatformat }} {{ trial.item_text}} with {{ summary.hits_text }}.</p>
                    {% endif %}

                <h4>Probability</h4>
                <li>{{summary.equivalents.probability| floatformat:6}}</li>
                <h4>As a percentage</h4>
                <li>{{summary.equivalents.percentage | floatformat:4}}%</li>
                </div>
        </div>
        <div class="widget col-lg-5 col-md-5">
            <div>
                <h4>As a rounded-off proportion</h4>
                <li>{{summary.equivalents.fraction.numerator}} in {{summary.equivalents.fraction.denominator}}</li>
                <p></p>
                <img src="/gridpng/?width={{ summary.equivalents.fraction.denominator }}&palette_name={{ params.palette_name }}&xy=true&hits={{ summary.equivalents.fraction.numerator }}&colour={{forloop.counter0}}">
                <h4>As approximate fair betting odds</h4>
                {% if summary.equivalents.odds.0 < summary.equivalents.odds.1 %}
                <li>{{summary.equivalents.odds.0}} : {{summary.equivalents.odds.1}} ({{summary.equivalents.odds.1}} : {{summary.equivalents.odds.0}} on)</li>
                {% else %}
                <li>{{summary.equivalents.odds.0}} : {{summary.equivalents.odds.1}}</li>
                {% endif %}
                <p></p>
                <img src="/gridpng/?width={{ summary.equivalents.odds_fraction.1 }}&palette_name={{ params.palette_name }}&xy=true&hits={{ summary.equivalents.odds_fraction.0 }}&invert=True&colour={{forloop.counter0}}">
            </div>
        </div>
            </div>
            {% endfor %}    
        <div class="widget col-lg-10 col-md-10">
            <div>
                <h3>Representative example</h3>
                <div class="container">
                    <div class="row">
                    {% for trial_outcome in trial_outcomes %}
                    <div class="col-xs-2 text-center" onclick="openTab('tab{{ forloop.counter }}'); showOutcome('outcome{{ forloop.counter }}')">
                        <img id="grid_legend_id" src="/gridlegendpng/?hit_type={{ forloop.counter }}&palette_name={{ palette_name }}">
                        <button type="submit" class="save btn btn-warning" name="calc_target">{{trial_outcome.hit_name}}</button>
                    </div>
                    {% endfor %}
                    <div class="col-xs-2 text-center">
                        <img id="grid_legend_id" src="/gridlegendpng/?hit_type=0&palette_name={{ palette_name }}">
                        <button type="submit" class="save btn btn-warning" name="calc_target" disabled>other</button>
                    </div>
                    </div>
                </div>
                {% for trial_outcome in trial_outcomes %}
                    <div id="outcome{{ forloop.counter }}" class="outcome" {% if forloop.counter0 > 0 %} style="display:none" {% endif %}>
                    <h4>For {{ trial_outcome.hit_name }}</h4>
                    {% if trial.repeat_mode == "repeats"%}
                        <li>{{trial.items}} {{ trial.item_text }} x {{trial.repetitions}} {{ trial.repetition_text }} = {{ trial.exposure }} chances for {{ trial_outcome.hit_name }}</li>
                        <li>Observed {{ trial_outcome.hit_name }}: {{ trial_outcome.hits }} = {{ trial_outcome.hit_percentage | floatformat:3}}% (expected average: 
                        {{ trial_outcome.expected_hits | floatformat }} = {{ trial_outcome.expected_percentage | floatformat:3 }}%)</li>
                    {% else %}
                        <li>{{trial.items}} {{ trial.item_text }} x {{trial.repetitions}} {{ trial.repetition_text }} max </li>
                        <li>Observed {{ trial_outcome.hit_name }}: {{ trial_outcome.hits }} </li>
                    {% endif %}
                    <div class="widget col-lg-6 col-md-6">
                    <h5>For {{ trial.item_text }} (columns)</h5>
                        <li>Summary for {{ trial.item_text }}: {{ trial_outcome.item_hits_summary}}</li>
                        <li title="{{ trial_outcome.item_hits}}" onclick="toggleDiv('columnSummary{{ forloop.counter }}')">Counts: How many {{ trial_outcome.hit_name }} for each of the {{ trial.item_text }}? [Click to show]</li>
                        <div id="columnSummary{{ forloop.counter }}" class="toggledetail">{{ trial_outcome.item_hits}}</div>
                        <li title="{% for cell in trial_outcome.item_hits_distribution %} {{cell.1}} with {{cell.0}} {{ trial_outcome.hit_name }} {% endfor %}" onclick="toggleDiv('columnDistribution{{ forloop.counter }}')">Distribution: How many {{ trial.item_text }} for each different number of {{ trial_outcome.hit_name }}? [Click to show] </li>
                        <div id="columnDistribution{{ forloop.counter }}" class="toggledetail">{% for cell in trial_outcome.item_hits_distribution %} {{cell.1}} with {{cell.0}} {{ trial_outcome.hit_name }}; {% endfor %}</div>
                    </div>
                    {% if form.exposed_repetitions.value != "1" %}
                    <div class="widget col-lg-6 col-md-6">
                    <h5>For {{ trial.repetition_text }} (rows)</h5>
                        <li>Summary for {{ trial.repetition_text }}: {{ trial_outcome.repetition_hits_summary}}</li>
                        <li title="{{ trial_outcome.repetition_hits}}" onclick="toggleDiv('rowSummary{{ forloop.counter }}')">Counts: How many {{ trial_outcome.hit_name }} for each of the {{ trial.repetition_text }}? [Click to show]</li>
                        <div id="rowSummary{{ forloop.counter }}" class="toggledetail">{{ trial_outcome.repetition_hits}}</div>
                        <li title="{% for cell in trial_outcome.repetition_hits_distribution %} {{cell.1}} with {{cell.0}} {{ trial_outcome.hit_name }} {% endfor %}" onclick="toggleDiv('rowDistribution{{ forloop.counter }}')">Distribution: How many {{ trial.repetition_text }} for each different number of {{ trial_outcome.hit_name }}? [Click to show] </li>
                        <div id="rowDistribution{{ forloop.counter }}" class="toggledetail">{% for cell in trial_outcome.repetition_hits_distribution %} {{cell.1}} with {{cell.0}} {{ trial_outcome.hit_name }}; {% endfor %}</div>
                    </div>
                    {% endif %}
                    </div>
                {% endfor %}
                <p></p>
                    <button type="submit" class="action btn btn-warning" name="grid_0" onclick="redoGrid(0)">Distributed</button>
                    <button type="submit" class="action btn btn-warning" name="grid_1" onclick="redoGrid(1)">Collect for {{ trial.item_text}}</button>
                    <button type="submit" class="action btn btn-warning" name="grid_2" onclick="redoGrid(2)">Collect for {{ trial.item_text}} &amp; sort</button>
                    <button type="submit" class="action btn btn-warning" name="grid_3" onclick="redoGrid(3)">Collect for {{ trial.repetition_text}}</button>
                    <button type="submit" class="action btn btn-warning" name="grid_4" onclick="redoGrid(4)">Collect for {{ trial.repetition_text}} &amp; sort</button>
                    <button type="submit" class="action btn btn-warning" name="grid_5" onclick="redoGrid(5)">Collect Left</button>
                    <button type="submit" class="action btn btn-warning" name="grid_6" onclick="redoGrid(6)">Collect in corner</button>

                <div id="grid_div">
                <img id="grid_image_id" src="/gridchancepng/?width={{ trial.items }}&depth={{trial.repetitions}}&probability={{ trial.probability }}&repeat_mode={{ trial.repeat_mode }}&palette_name={{ params.palette_name }}&seed={{ trial.seed }}">
                </div>
            </div>
        </div>
{% endblock %}