{% extends 'blog/base.html' %}

{% block quote %}
	<p>{{ quote }}</p>
{% endblock %}

{% block content %}
        <div class="widget col-lg-6 col-md-6">
                <div>
	        <h2>{{ answer.quip }}</h2>
	        <!--form method="POST" class="query-form" action="/convert/answer">
	            {% csrf_token %}
	            {{ conversion.as_p }}
	            <button type="submit" class="save btn btn-default">Ask</button>
	        </form-->
	        <form method="GET" class="query-form" action="/convert/answer">
	            {{ conversion.as_p }}
	            <button type="submit" class="save btn btn-default">Ask</button>
	        </form>
	        </div>
        </div>
        <div class="widget col-lg-6 col-md-6">
                <div>
	        <h2>That would be ...</h2>
	            <div class="comparison">
	                <p>{{ answer.requestedConversion }}</p>
	            </div>
	        <h2>And also ...</h2>
	        {% for conversion in answer.otherConversions %}
	            <div class="comparison">
	                <p>{{ conversion }}</p>
	            </div>
	        {% endfor %}
        </div>
        </div>
{% endblock %}