{% extends 'blog/base.html' %}

{% block quote %}
    <p>{{ quote }}</p>
{% endblock %}


{% block content %}
        {% for widget in widgets %}
            <!--div class="widget">
		<h1><a href=""><span class="{{ widget.glyph }}"></span> {{ widget.title }}</a></h1>
                <form method="GET" class="query-form" action="/convert/answer">
                    {{ widget.form.as_p }}
                    <button type="submit" class="save btn btn-default">Convert</button>
                </form>
            </div-->
            <div class="widget col-lg-4 col-md-6 col-sm-8 col-xs-12">
                <div>
                        <h1><a href=""><span class="{{ widget.glyph }}"></span> {{ widget.title }}</a></h1>
                        <form method="GET" class="query-form" action="/convert/answer">
                            {{ widget.form.as_p }}
                        <button type="submit" class="save btn btn-warning">Ask</button>
                    </form>
                </div>
            </div>

        {% endfor %}
{% endblock %}