{% extends 'blog/base.html' %}

{% block title %}Convert{% endblock %}

{% block quote %}
    <p>{{ quote }}</p>
{% endblock %}


{% block content %}
        <div class="row">
        {% for widget in widgets %}
            <div class="widget col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div>
                        <h1><a href=""><span class="{{ widget.glyph }}"></span> {{ widget.title }}</a></h1>
                        <form method="GET" class="query-form" action="/convert/answer">
                            {{ widget.form.as_p }}
                        <button type="submit" class="save btn btn-warning">Ask</button>
                    </form>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}