{% extends 'blog/base.html' %}

{% block title %}Country{% endblock %}

{% block quote %}
	<p>{{ quote }}</p>
{% endblock %}

{% block content %}
        <div class="row widget">
            <div>
		<h1><a href=""><span></span> Numbers concerning {{ country }} </a></h1>
                <p>(Source numbers from 2016 CIA World Factbook, relating to 2015. 
                <br/> Disclaimer: work in progress. Intended Use: cross-checking the scale and reasonability of big numbers.
                <br/> Original numbers in USD. Exchange Rates as at end 2015. If no input amount supplied, displays USD, otherwise displays input amount currency.
                <br/> Spark graphs: Large/red dot shows rank among all countries ordered from min to max. 
                <br/> Blue dots are comparison points for USA, Russia and China.)</p>
	        <form method="GET" class="query-form freeform" action="/country" >
	                {{ freeForm.as_p }}
                    <button type="submit" class="save btn btn-warning" onclick='this.form.target="_self";'>Ask in This Tab</button>
                    <button type="submit" class="save btn btn-warning" onclick='this.form.target="_blank";'>Ask in New Tab</button>
	        </form>
            <p>Free-form entry eg: '125000km', '1.5 million inches', '$67bn', '45000000 AUD', 100years', '123456789', '1 trillion', '1.5e6', '25 million kg'</p>
            </div>
        </div>
        <div class="grid" data-masonry='{ "itemSelector": ".grid-item,.grid-item-doubled,.grid-item-quad", "columnWidth": ".grid-item", "gutter": 0 }'>
            {% if ask %}
           <div class="grid-item-quad blog-summary featured">
           <div>
            <h1><a href=""><span class="{{ widget.glyph }}"></span>Is That A Big Number?</a></h1>
            {{ ask.1.render }}
            {% if ask.2 %}({{ ask.2 }}){% endif %}
            {% for comparison in ask.3 %}
                <li>{{ comparison.render }}</li>
            {% endfor %}
            </div>
            </div>
            {% endif %}
            {% for panel in panels %}
                <div class="grid-item blog-summary">
                <div>
			<h1><a href=""><span class="{{ widget.glyph }}"></span> {{ panel.title }}</a></h1>
                        {% for fact in panel.facts %}
	                <ul>
                            {% if fact.base.datum %}
                            <li>{{ fact.base.datum.render_equals }}</li>
                            <svg  class="major-quantile" width="80%" height="12px" xmlns="http://www.w3.org/2000/svg">
                                <line x1="0%" y1="50%" x2="100%" y2="50%"><title>Rank among other countries</title></line>
                                <circle class="tick" cx="2%", cy="50%", r="4"><title>{{ fact.base.context.0.0}}</title></circle>
                                <circle class="tick" cx="26%", cy="50%", r="3"><title>{{ fact.base.context.0.1}}</title></circle>
                                <circle class="tick" cx="50%", cy="50%", r="3"><title>{{ fact.base.context.0.2}}</title></circle>
                                <circle class="tick" cx="74%", cy="50%", r="3"><title>{{ fact.base.context.0.3}}</title></circle>
                                <circle class="tick" cx="98%", cy="50%", r="4"><title>{{ fact.base.context.0.4}}</title></circle>
                                <circle class="datapoint" cx="{{ fact.base.context.1}}%", cy="50%", r="5"><title>Ranks at percentile {{ fact.base.context.1}}</title></circle>
                            </svg>
                            {% else %}
                            {% endif %}
                            {% for dfact in fact.derived %}
                            <ul>
                                {% if dfact.datum %}
                                <li>{{ dfact.datum.render_equals }}</li>
                                <svg  class="major-quantile" width="80%" height="12px" xmlns="http://www.w3.org/2000/svg">
                                    <line x1="0%" y1="50%" x2="100%" y2="50%"><title>Rank among other countries</title></line>
                                    <circle class="tick" cx="2%", cy="50%", r="3"><title>{{ dfact.context.0.0}}</title></circle>
                                    <circle class="tick" cx="26%", cy="50%", r="3"><title>{{ dfact.context.0.1}}</title></circle>
                                    <circle class="tick" cx="50%", cy="50%", r="3"><title>{{ dfact.context.0.2}}</title></circle>
                                    <circle class="tick" cx="74%", cy="50%", r="3"><title>{{ dfact.context.0.3}}</title></circle>
                                    <circle class="tick" cx="98%", cy="50%", r="3"><title>{{ dfact.context.0.4}}</title></circle>
                                    <circle class="refdatapoint" cx="{{ dfact.context.2.0}}%", cy="50%", r="3"><title>US at percentile {{   dfact.context.2.0}}</title></circle>
                                    <circle class="refdatapoint" cx="{{ dfact.context.2.1}}%", cy="50%", r="3"><title>RU at percentile {{ dfact.context.2.1}}</title></circle>
                                    <circle class="refdatapoint" cx="{{ dfact.context.2.2}}%", cy="50%", r="3"><title>CN at percentile {{ dfact.context.2.2}}</title></circle>
                                    <circle class="datapoint" cx="{{ dfact.context.1}}%", cy="50%", r="4"><title>Ranks at percentile {{ dfact.context.1}}</title></circle>
                                </svg>
                                {% else %}
                                {% endif %}
                            </ul>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}