{% extends 'blog/base.html' %}

{% block title %}Fact{% endblock %}

{% block quote %}
	<p>{{ quote }}</p>
{% endblock %}

{% block content %}
    <div class="fact">
        <h1>{{ fact.title }}</h1>
        <p>{{ fact.render|linebreaks }}</p>
        <p>{{ fact.text|linebreaks }}</p>
        <p><a href="{{ reflink }}" target=_blank>Link</p>
    </div>
    <!--div class=embed>
        <div class="tumblr-post" data-href="https://embed.tumblr.com/embed/post/cpETHSzuKqn7I7CzxFgXRA/138631317782" data-did="10a69bab33e55e814369c841ef165cc67a1dc9d6"><a href="http://itabn.tumblr.com/post/138631317782/is-that-a-big-number">http://itabn.tumblr.com/post/138631317782/is-that-a-big-number</a></div><script async src="https://secure.assets.tumblr.com/post.js"></script>
    </div-->
{% endblock %}
