{% extends 'blog/base.html' %}

{% block title %}Facts{% endblock %}

{% block quote %}
    <p>{{ quote }}</p>
{% endblock %}

{% block content %}
        {% for fact in facts %}
            <div class="fact">
                <!--div class="date">
                    <p>published: {{ post.published_date }}</p>
                </div-->
                <h3><a href="{% url 'fact_detail' pk=fact.pk %}">{{ fact.title }}</a></h3>
                <p>{{ fact.render_folk|linebreaks }}</p>
                <p>{{ fact.text|linebreaks }}</p>
            </div>
        {% endfor %}
{% endblock %}