{% extends 'blog/base.html' %}

{% block title %}Fact{% endblock %}

{% block quote %}
	<p>{{ quote }}</p>
{% endblock %}

{% block content %}
  <div class="row widget">
    <div class="widget col-lg-6 col-md-6 col-sm-6 col-xs-12">
    	<div>
        <h1>{{ fact.title }}</h1>
        <p>{{ fact.render_folk|linebreaks }}</p>
        <p>{{ fact.link }}</p>
        <!--p>{{ fact.text|linebreaks }}</p-->
        <p><a href="{{ reflink }}" target=_blank>Link</a></p>
        </div>
    </div>

    {% if neat %}
    <div class="widget col-lg-6 col-md-6 col-sm-6 col-xs-12">
	    <div>
	    <h2>If {{ fact.render_folk }} was a standard unit <a title="About this number fact" href="{{ fact.link }}">...</a></h2>
	    <ul>
	   	{% for comparison in neat %}
		    <div class="comparison">
		        <li> {{ comparison.fact2.render_folk }}<a title="Where does this number come from?" href="{{ comparison.fact2.linkasunit }}">...more</a> would be {{ comparison.inversecomparison }} {{fact.title}} </li>
		    </div>
		 {% endfor %}
	    </ul>	
	    </div>
    </div>
    {% endif %}
    </div>
{% endblock %}
