{% extends 'blog/base.html' %}

{% block title %}Fact{% endblock %}

{% block quote %}
	<p>{{ quote }}</p>
{% endblock %}

{% block content %}
  <div class="row widget">
    <div class="widget col-lg-6 col-md-6 col-sm-6 col-xs-12">
    	<div>
        <h1>{{ fact.title }}</h1>
        <p>{{ fact.render_folk|linebreaks }}</p>
        <!--p>{{ fact.text|linebreaks }}</p-->
        <p><a href="{{ reflink }}" target=_blank>Link</a></p>
        </div>
    </div>

    <!--div class="widget col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h2>More or less ...</h2>
        <ul>
        <div class="comparison">
            <li>Smaller than: {{ brackets.above }}  <a title="Where does this number come from?" href="{{ match.link }}">...</a></li>
        </div>
        <div class="comparison">
            <li>Bigger than: {{ brackets.below }}  <a title="Where does this number come from?" href="{{ match.link }}">...</a></li>
        </div>
        </ul>
    </div-->

    {% if neat %}
    <div class="widget col-lg-6 col-md-6 col-sm-6 col-xs-12">
	    <div>
	    <h2>Neat Ratios ...</h2>
	    <h3>{{ fact.render_folk|linebreaks }}</h3>
	    <ul>
	   	{% for comparison in neat %}
		    <div class="comparison">
		        <li> {{ comparison.comparison }} {{ comparison.fact2.render_folk }}<a title="Where does this number come from?" href="{{ comparison.fact2.link }}">...more</a></li>
		    </div>
		 {% endfor %}
	    </ul>	
	    </div>
    </div>
    {% endif %}
    </div>
{% endblock %}
