{% extends 'blog/base.html' %}

{% block title %}Comparisons{% endblock %}

{% block quote %}
    <p>{{ quote }}</p>
{% endblock %}

{% block content %}
        <!--form method="GET" class="query-form" action="/itabn/answer">
            {{ query.as_p }}
            <button type="submit" class="save btn btn-default">Ask</button>
        </form-->
        <div class="widget col-lg-6 col-md-6">
                <div>
                <h2>{{ answer.quip }}</h2>
                    <form method="GET" class="query-form" action="/itabn/answer">
                        {{ query.as_p }}
                        <button type="submit" class="save btn btn-warning">Ask</button>
                    </form>
                </div>
        </div>
        <div class="widget col-lg-6 col-md-6">
            <div>
                <h2>How big is {{ question }} ?</h2>
                <h2>Close match to ...</h2>
                {% for match in answer.closeMatches %}
                    <div class="comparison">
                        <p><a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="{{ question }} #IsThatABigNumber? {{ match.text }}">Tweet</a> {{ match.text }}  <a title="Where does this number come from?" href="{{ match.link }}">...</a></p>
                    </div>
                {% endfor %}
                <h2>That would be ...</h2>
                {% for comparison in answer.comparisons %}
                    <div class="comparison">
                        <p><a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="{{ question }} #IsThatABigNumber? {{ comparison.render }}">Tweet</a> {{ comparison.render }} <a title="Where does this number come from?" href="{{ comparison.link }}">...</a></p>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}