{% extends 'blog/base.html' %}

{% block title %}Comparisons{% endblock %}

{% block quote %}
    <p>{{ quote }}</p>
{% endblock %}

{% block content %}
        <!--form method="GET" class="query-form" action="/itabn/answer">
            {{ query.as_p }}
            <button type="submit" class="save btn btn-default">Ask</button>
        </form-->
        <div class="widget col-lg-6 col-md-6">
                <div>
                <h2>{{ answer.quip }}</h2>
                    <form method="GET" class="query-form" action="/itabn/answer">
                        {{ query.as_p }}
                        <button type="submit" class="save btn btn-warning">Ask</button>
                    </form>
                </div>
        </div>
        <div class="widget col-lg-6 col-md-6">
            <div>
                {% if answer.easteregg %}
                <h2>How big is {{ answer.easteregg.question }} ?</h2>
                <h3>{{ answer.easteregg.answer }}</h3>
                {% else %}
                <h2>How big is {{ question }} ?</h2>
                {% if question.unit != basefact.unit %}
                    <li> Equivalent to {{ basefact.render_number }}</li>
                {% endif %}
                <h2>More or less ...</h2>
                <div class="comparison">
                    <li> Smaller than: {{ answer.brackets.above }}  <a title="Where does this number come from?" href="{{ match.link }}">...</a></li>
                </div>
                <div class="comparison">
                    <li> Bigger than: {{ answer.brackets.below }}  <a title="Where does this number come from?" href="{{ match.link }}">...</a></li>
                </div>
                {% for match in answer.closeMatches %}
                    <div class="comparison">
                        <li> Close to/Same as: {{ match.text }}  <a title="Where does this number come from?" href="{{ match.link }}">...</a></li>
                    </div>
                {% endfor %}
                <h2>And equivalent to  ...</h2>
                {% for comparison in answer.comparisons %}
                    <div class="comparison">
                        <li> {{ comparison.render }} <a title="Where does this number come from?" href="{{ comparison.link }}">...</a></li>
                    </div>
                {% endfor %}
                {% if neat %}
                <h2>And, neatly, although approximately ...</h2>
                {% for comparison in neat %}
                    <div class="comparison">
                        <li> {{ comparison.comparison }} {{ comparison.fact2.render_folk }}<a title="Where does this number come from?" href="{{ comparison.fact2.link }}">...</a></li>
                    </div>
                {% endfor %}

                {% endif %}
                {% endif %}
            </div>
        </div>
{% endblock %}