{% extends 'blog/base.html' %}

{% block title %}Facts{% endblock %}

{% block quote %}
    <p>{{ quote }}</p>
{% endblock %}

{% block content %}
        <!--form id = "filter" method="GET" class="filter-form" action="/facts/"> 
            {{ form.as_p}}
                    <button id="filterButton" type="submit" class="save btn btn-warning">Filter</button>
        </form-->
        <div class="row widget">
            <div>
        <h1>{{statname}}</h1>
        {% for stat in stats %}
                <ul><li>... in {{ stat.0 }} = {{ stat.2 }}</li>
                <svg  class="major-quantile" width="90%" height="5px" xmlns="http://www.w3.org/2000/svg">
                        <!--line x1="0%" y1="50%" x2="100%" y2="50%"><title>This country</title></line-->
                        <line x1="0%" y1="50%" x2="{{ stat.1 }}%" y2="50%"><title>This country</title></line>
                </svg>
                </ul>

                <!--div class="date">
                    <p>published: {{ post.published_date }}</p>
                </div-->
                <!--h3><a href="">{{ fact.title }}</a></h3>
                <p>{{ fact.render_folk|linebreaks }}</p>
                <p>{{ fact.text|linebreaks }}</p-->
        {% endfor %}
        </div>
        </div>
{% endblock %}