
aside {
    background-color: #ffbb88;
    width:300px;
    float:right;
    padding:10px;        
}

h1, h2, h3, h4, h5 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    xcolor: #7777ff;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 10px 20px 15px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 29pt;
    text-decoration: none;
}

.page-header a, .page-header h3 {
    color: #10250C;
}

.page-header h3 a:hover {
    color: white;
    text-decoration: none;
}

.dyk {
    height: 30px;
}


.share {
    height: 3rem;
}

form.freeform p {
    display:inline;
    font-size: 32px
}

form.choice {
    display:inline;
}

.row:nth-child(2) .blog-summary> div {
    height: 82rem;
    overflow: auto;
}

.row:nth-child(2) .blog-summary-shallow> div {
    height: 40rem;
    overflow: auto;
}

.row:nth-child(2) .widget > div p a {
    word-break: break-all;
}

.content {
    padding: 0 5rem;
}

.content h1 a, .content h2, .content h3 a , .content h4 a {
    color: #487D18
}

div.content.container{
    xwidth:800px;
}

.content .widget {
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.content img {
    width: 100%;
    margin-bottom: 10px;
}

.content img.constrained{
    height: 125px;
}

.content img.constrained-2{
    height: 250px;
}

.content .widget h1 {
    margin-top: 0;
    font-size: 28px;
}

.content .widget > div {
    background-color: rgba(72,125,24,0.1);
    padding: 1rem;
}

.content .quiz {
    background-color: rgba(72,125,24,0.1);
    padding: 1rem;
}

.content .fact_detail {
    background-color: rgba(72,125,24,0.1);
    padding: 1rem;
}

.content .fact {
    background-color: rgba(72,125,24,0.1);
    padding: 1rem;
}

.content .widget label {
    width: 7em;
}

.content .widget input, .content .widget select {
    width: 45%;
}

form.quiz-form{
    font-size: 24px;
}

.content .embed {
    float: right;
}
.content .twitter-share-button {
    width: 23px !important;
    opacity: 0.4;
    -webkit-filter: grayscale(1);
    border-radius: 4px;
    margin-top: 5px;
}

.content .widget .freeform label {
    width: 350px;
}

.tumblr-post .post-header {
    visibility: hidden;
}

#ads {
    background-color: #EEE;
    margin-top: 0.5rem;
}

#ads li {
    padding-top: 1rem;
}

.date {
    float: right;
    color: #6262FF;
}

.social {
    float: right;
}

.xsave {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}





.content .grid-item-doubled {
    margin-bottom: 1rem;
    padding-right: 1rem;
    width: 660px;
}

.content .grid-item {
    margin-bottom: 1rem;
    padding-right: 1rem;
    width: 330px;
}

.content .grid-item h1,.content .grid-item-doubled h1 {
    margin-top: 0;
    font-size: 28px;
}



.content .grid-item > div, .content .grid-item-doubled > div {
    background-color: rgba(72,125,24,0.1);
    padding: 1rem;
}

.content .grid-item label, .content .grid-item-doubled label {
    width: 7em;
}


